@font-face {
    font-family: "Graphik";
    font-weight: 500;
    src: local("Graphik"), url(fonts/Graphik-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Graphik";
    font-weight: 600;
    src: local("Graphik"), url(fonts/Graphik-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Graphik";
    font-weight: 700;
    src: local("Graphik"), url(fonts/Graphik-Regular.ttf) format("truetype");
}

:root {
    --base-typography-primary-font-family: Graphik;
    --base-typography-text-font-weight: 500;
    --base-text-font-size: 1rem;
}

* {
    font-family: var(--base-typography-primary-font-family), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--base-text-font-size);
    font-weight: var(--base-typography-text-font-weight);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}